<ul class="left">
	<li class="show-for-medium-up"><a href="/"><img src="/images/icon.png" /></a></li>
	<li evaluate="maintab == $resume" evaluate-true="class=active" bronco><a href="/resume" title="Resume"><span>Resume</span></a></li>
	<li evaluate="maintab == $graphics" evaluate-true="class=active" bronco><a href="/graphics" title="Advice"><span>Graphics</span></a></li>
	<li evaluate="maintab == $software" evaluate-true="class=active" bronco><a href="/software" title="Feedback"><span>Software</span></a></li> 
</ul>